.resources__logo-zone {
  max-width: 1100px;
  margin: 80px auto 217px;
  background-color: white;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

/*спасибо! запомню навсегда что нужно обнулять паддинги у списков ^_^*/
